#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#vis1{
  max-width: 95%;
}


#vis1-container{
  height: 600px;
  background-color: rgb(10, 10, 10);
  /* background-color: gray; */
  border-radius: 15px;
  /* min-width: 100%; */
  max-width: 100%; 
  display: flex;
  justify-content: center;
  /* text-align: center; */

}

#vis2{
  background-color:  rgb(10, 10, 10);
  max-height: 60px;
  min-width: 100%;
  max-width: 100%; 
  cursor: url('./assets/cursor.png'), pointer;
  /* border-radius: 15px; */

  /* border-bottom: 1px solid white; */

}

#visualizers{
  background-color: rgb(10, 10, 10);
  border-radius: 15px;

  /* min-width: 100%;*/
  max-width: 100%;
  /* width: 75vw; */

  /* width: 100%; */
}

.waterfall-piano{
  /* min-width: 100%; */
  /* width: 100%; */
  /* ^these mess up piano*/

  max-width: 100%;
}

.waterfall-notes-container{
  /* min-width: 100%; */
  max-width: 100%;

}

.waterfall-piano svg{
  width: 20%;
}

rect{
  rx: 2px;
}

rect.note{
  rx: 4px;
  fill-opacity: 1;
}

rect.note.sharp{
  rx: 3px;
}
rect.note:not(.active){
  fill: white;
  stroke:black;
} 

rect.note.sharp:not(.active){
  fill: black;
  stroke: white;
}

/* rect.note.sharp.active{
  fill: pink;
} */

/* input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
} */

#files{
  display:none;
}

#file-label{
  height: 100%;
  background-color: #f9f9f9;
  margin: 5px;
  width: 100px;
  padding: 0.6em 1.2em;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  transition: background-color 0.5s ease;
  transition: color 0.5s ease;

}

#file-label:hover, .save-button:hover:enabled{
  background-color: rgb(57, 205, 224);
  transition: background-color 0.5s ease;

  color: white;
  border-color: transparent;
}

.save-button:disabled:hover{
  background-color: white;
  /* color: red; */
}

.save-button{
  height: 100%;
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.6em 1.2em;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  background-color: white;
}

#controls{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 5vw;
  padding-right: 5vw;
  border-top-left-radius: 15px;  
  border-top-right-radius: 15px;

  background-color: rgb(57, 205, 224);
}

input[type=range]{
  accent-color: rgb(57, 205, 224);
}

#container{
  /* width: 75vw; */
  width: clamp(700px, 75vw, 2000px);
}

#tempo-container{
  /* height: 7vh; */
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 0.5em 1.2em;
}

#play-pause-button{
  height: 6.45vh;
  border-radius: 8px;
  transition: background-color 0.5s ease;
  border-color: transparent;
  background-color: white;

}

#play-pause-button:hover{
  background-color: rgb(57, 205, 224);
}

#play-pause-button:hover svg{
  fill: white;
}

#play-pause-button:active svg{
  fill: black;
}

#play-pause-button:disabled svg{
  fill:rgba(16, 16, 16, 0.3);
}

#play-pause-button:disabled:hover{
  background-color:white;
}

#description{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 55%;
  width: clamp(500px, 55%, 1000px);

  
  color: white;
}

#description > p{
  text-align: left;
  font-size: 1.5em;
}

#made-with{
  display: flex;
  justify-content: center;
  align-items: center;
}

#audio-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* 
a:link{
  color: rgb(57, 205, 224);
}

a:link:visited{
  color: rgb(57, 205, 224);
} */

/* a:link:hover{
  color: white;
} */

a{
  color: rgb(57, 205, 224);
  text-decoration: none;
}

a:hover{
  color: white;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  gap: 5px;
}

#processing{
  font-size: 1.2em;
}

/* #processing:after {
  content: '.';
  animation: dots 2.5s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}
} */